.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
  margin-top: 100px;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: auto !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}
