{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}RecycleGoWhere{% endblock %}</title>
    {% comment %} <!-- CSS  --> {% endcomment %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'parallax-template.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="144x144" href="#">
    <link rel="icon" type="image/png" sizes="192x192" href="#">
    <link rel="icon" type="image/png" sizes="96x96" href="#">
    <link rel="icon" type="image/png" sizes="16x16" href="">

</head>
<body>
    <div id="index-banner" class="bluez_bg" data-paroller-factor="-0.4" data-paroller-type="background"
        data-paroller-direction="vertical">
        <div class="section" style="overflow: hidden;">
            <img src="{% static 'recyclegowheresmall.png' %}" class="responsive-img header-logo" style="margin-top: 100px; margin-left:100px" alt="Insert Page Logo" />
            <div class="container header-container">
                <div class="center row">
                    <h1 class="left-align" style="color: white; margin-top: -200px; margin-bottom: 10px ">Recycle Go Where?
                    </h1>
                    <div class=" col l8 left-align m8 s12" style=" padding-left:0px !important; margin-bottom: 100px">
                        <p class="p1-key-body" style="color: white; ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aliquam
                            tincidunt lacinia tincidunt. Phasellus ullamcorper dolor vitae condimentum maximus. Morbi
                            nec ultrices augue, eget rutrum dolor. Donec venenatis facilisis magna, a ultrices dui
                            fringilla quis.
                        </p>
                        {% comment %} <!-- Change your lens to the world, and you'll change the world --> {% endcomment %}
                        {% comment %} <!-- Singapore&rsquo;s first interactive fiction game that challenges how we see race, religion, and background in others &mdash; and ourselves.</p> --> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="slanted_1 white_bg container-snap" id="section_characters" data-pg-name="section1"
            data-paroller-factor="0.5" data-paroller-type="background" data-paroller-direction="vertical">
            <div class="container  section">
                {% comment %} <!--   Icon Section   --> {% endcomment %}
                <h3 class="center-align white-text lemongrass" style="text-transform: uppercase; ">Content and
                    description of page</h3>
                <div class="col l8 m8 s12 p-body-20" style="padding-left:0px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt lacinia tincidunt.
                        Phasellus ullamcorper dolor vitae condimentum maximus. Morbi nec ultrices augue, eget rutrum
                        dolor.
                        Donec venenatis facilisis magna, a ultrices dui fringilla quis. Phasellus bibendum laoreet elit.
                        Suspendisse commodo, felis et sagittis tincidunt, turpis nulla imperdiet felis, non posuere ex
                        velit
                        at quam. Nullam vitae mi elit. Etiam ullamcorper accumsan turpis eget consequat. Duis sed tempus
                        nibh, id dignissim elit. Etiam arcu mi, bibendum pellentesque tristique a, mollis eget enim.
                        Proin
                        consectetur nulla vitae eleifend euismod. Morbi turpis dolor, semper nec dapibus ac, tristique
                        tempus nisi.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-snap bluez_bg" id="section_screenshots" data-pg-name="Screenshots"
        style="padding-bottom:200px">
        <div class="section" style="margin-top: 100px">
            <h2 class="center-align " style="color:white; text-transform: uppercase;">screenshots</h2>
            <div class="row container">
                <!-- uses materilisze  ensure picture have same aspect ratio -->
                <!-- l means large screen m means medium screen and s mean small screen  -->
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot1_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot2_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot4_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot3_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot4_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>
                <div class="col l6 m4 s12">
                    <img src="{% static 'assets\img\screenshot1_saylah.png' %}" class="responsive-img  z-depth-2"
                        alt="Insert Screenshots" />
                </div>

            </div>
        </div>
    </div>
    <div id="section_whoarewe" data-pg-name="who are we" class="white_bg slanted_2">
        <div class="container fullheight section">
            <!--   Icon Section   -->
            <div class="row" style="margin-top: 100px;">
                <h1 class="midnight-dark2">What is Recycle Go Where?</h1>
                <div class="col l8 m8 s12 p-body-20" style="padding-left:0px">
                    <p class="midnight-dark2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        tincidunt lacinia tincidunt. Phasellus ullamcorper dolor vitae condimentum maximus. Morbi nec
                        ultrices augue, eget rutrum dolor. Donec venenatis facilisis magna, a ultrices dui fringilla
                        quis. Phasellus bibendum laoreet elit. Suspendisse commodo, felis et sagittis tincidunt, turpis
                        nulla imperdiet felis, non posuere ex velit at quam. Nullam vitae mi elit. Etiam ullamcorper
                        accumsan turpis eget consequat. Duis sed tempus nibh, id dignissim elit. Etiam arcu mi, bibendum
                        pellentesque tristique a, mollis eget enim. Proin consectetur nulla vitae eleifend euismod.
                        Morbi turpis dolor, semper nec dapibus ac, tristique tempus nisi. Integer tempus, elit sit amet
                        bibendum finibus, odio magna pharetra massa, at vestibulum ex nibh vitae turpis. Maecenas
                        porttitor mi sed auctor sagittis. Sed enim justo, dapibus eu mi id, lacinia commodo libero.
                        Maecenas viverra, ipsum non viverra lobortis, velit lectus dictum nulla, quis ultrices ipsum
                        dolor nec arcu.</p>

                    <p class="midnight-dark2">Suspendisse laoreet accumsan euismod. Curabitur nec porta purus, quis
                        maximus velit. Donec eu
                        eros vitae lacus accumsan pulvinar sit amet sit amet nulla. Curabitur fermentum feugiat nulla, a
                        pretium lacus volutpat non. Maecenas sit amet imperdiet quam. Aenean ornare libero at lobortis
                        malesuada. Vivamus at nisi quis diam maximus egestas. Phasellus a nisl ut justo bibendum
                        iaculis. Nunc fringilla justo eu convallis suscipit. Suspendisse potenti. Curabitur feugiat
                        molestie sem, sit amet lobortis nunc mollis vitae. In sed vehicula nisl. Curabitur interdum quam
                        ut nisl faucibus finibus. Curabitur et viverra eros. Donec a sodales turpis. Integer eu tortor
                        iaculis, faucibus arcu sit amet, pharetra neque.

                        Cras hendrerit luctus risus, vel semper orci. Duis nec euismod nisi. Vivamus porttitor tortor
                        nisl, sit amet lacinia lectus gravida in. Aliquam erat volutpat. Sed venenatis euismod tellus,
                        quis auctor magna malesuada id. Nullam sed lectus molestie metus gravida posuere sed id justo.
                        Nulla tempor, tellus interdum malesuada vestibulum, odio risus blandit nunc, et scelerisque urna
                        ligula in justo. Donec ut dolor rhoncus, efficitur elit venenatis, molestie lorem. In a metus
                        vel turpis mattis dictum semper sed felis.</p>
                    <div class="center-align hide-on-med-and-up show-on-small">
                        <a href="https://better.sg"><img class="circle responsive-img  z-depth-2"
                                src="{% static 'assets/img/bettersg.png' %}" width="60%" /></a>
                    </div>
                </div>
                <div class="col hide-on-small-only l3 m3 offset-l1 offset-m1 right-align">
                    <a href="https://better.sg"><img class="circle  z-depth-2" height="200px"
                            src="{% static 'assets/img/bettersg.png' %}" style="margin-bottom:36px" /></a>
                    <img class="circle  z-depth-2" height="200px" src="{% static 'recyclegowhere.png' %}" alt="Insert Project logo" />
                </div>
            </div>
            {% comment %} <div class="row" style="padding-bottom: 150px;">
                <h3 class="midnight-dark2"> Example video</h3>
                <div class="video-container">

                    <iframe src="https://www.youtube.com/embed/BaNPkYST-j8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div> {% endcomment %}
        </div>
    </div>

    <div id="section_signup" data-pg-name="signup" class="slanted_3 bluez_bg" style="padding-bottom: 100px;">
        <div class="container section">
            <!--   Icon Section   -->
            <div class="row" style="margin-top: 200px;">
                <h1 class="center-align" style="color:white;">Get in touch with us!</h1>
            </div>
            <div class="row">
                <div class="col l4 m4 s12">
                    <h3 style="color:white;">individuals</h3>
                    <p style="color:white;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur
                        sem. Maecenas nunc
                        ante, gravida eu iaculis tempus, cursus a orci. Fusce eleifend orci ut lacinia pulvinar. Donec
                        nisl dui, euismod vitae magna non, sodales commodo nisl. Fusce porta pretium nisi, quis
                        consequat leo. </p>
                    <a href="#" class="btn-large waves-effect modal-trigger" style="color:white;">CONTACT US</a>
                </div>
                <div class="col l4 m4 s12">
                    <h3 style="color:white;">organisations</h3>
                    <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur
                        sem. Maecenas nunc
                        ante, gravida eu iaculis tempus, cursus a orci. Fusce eleifend orci ut lacinia pulvinar. Donec
                        nisl dui, euismod vitae magna non, sodales commodo nisl. Fusce porta pretium nisi, quis
                        consequat leo.</p>
                    <a href="#" class="btn-large waves-effect modal-trigger" style="color:white;">ENQUIRE NOW</a>
                </div>
                <div class="col l4 m4 s12">
                    <h3 style="color:white;">join the team</h3>
                    <p style="color:white;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur sem. Maecenas nunc
                        ante, gravida eu iaculis tempus, cursus a orci. Fusce eleifend orci ut lacinia pulvinar. Donec
                        nisl dui, euismod vitae magna non, sodales commodo nisl. Fusce porta pretium nisi, quis
                        consequat leo.
                    </p>
                    <a href="#" class="btn-large waves-effect modal-trigger" style="color:white;">VOLUNTEER</a>
                </div>
            </div>
            <span class="h5" id="submission"></span>
        </div>
    </div>
    </div>
    <footer class="page-footer" style="background: var(--midnight-dark2);">
        <div class="container">
            <p class="white-text" align="center">
                Add to the conversation after we launch on ____ <br> <a href="#">Instagram</a> |
                <a href="#">Telegram</a> | <a href="#">Facebook</a> | <a href="#">Reddit</a>
            </p>
        </div>
        <div class="footer-copyright">
            <div class="center-align container">
                A non-profit volunteer-run project by
                <a class="red-text text-lighten-2" href="https://better.sg">better.sg</a>.
                <br>
                For any queries, please email us at
                <a href="mailto:"> link to email</a>
                <br>
                <small><a href="privacypolicy.html">[ Privacy Policy ]</a> | <a href="help.html">[ Help ]</a></small>
            </div>
        </div>
    </footer>
    <!-- Modal Trigger -->
    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="typeform-widget"
            data-url="https://form.typeform.com/to/UnNtHibn?typeform-medium=embed-snippet&typeform-welcome=0"
            data-hide-headers="true" data-hide-footer="true" style="width: 100%; height: 350px;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
        <!-- <form name="submit-to-google-sheet">
                <div class="modal-content" style="padding-bottom:0px; padding-top:10px"> 
                    <h5 class="center-align">CONNECT WITH US!</h5> 
                    <div class="row" style="margin-bottom:0px"> 
                        <div class="col input-field m6 s12"> 
                            <input type="text" name="fullname" id="fullname">
                            <label for="name">Full Name*</label>                             
                        </div>                         
                        <div class="col input-field m6 s12"> 
                            <input id="email" name="email" type="text"> 
                            <label for="email">Email Address*</label>                             
                        </div>                         
                    </div>                     
                    <div class="row"> 
                        <div class="col input-field s12"> 
                            <input name="org" id="org" type="text"> 
                            <label for="organisation">Organisation / School (optional)</label>                             
                        </div>
                        <div class="col input-field s12"> 
                            <textarea name="comments" id="comments" class="materialize-textarea"></textarea> 
                            <label for="comments">Comments (optional)</label>                             
                        </div>                         
                    </div>                     
                </div>
                <div class="modal-footer"> 
                    <button class="form_submit btn waves-effect waves-light blue" type="submit" name="submit" onClick="$('.modal').modal('close');">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form> -->
    </div>
    <div id="modal2" class="modal" style="height:80vh">
        <div class="modal-content">
            <h4>Volunteer with us</h4>
            <p>If you would like to join us to support the illustrations, design, game development, growth / impact /
                outreach, or in any other way, please fill in the form and explain in the comments how you would like to
                help</p>
        </div>
        <div class="modal-footer">
            <div class="typeform-widget"
                data-url="https://form.typeform.com/to/UnNtHibn?typeform-medium=embed-snippet&typeform-welcome=0"
                data-hide-headers="true" data-hide-footer="true" style="width: 100%; height: 350px;"></div>
            <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
        </div>

    </div>
    <!--  Scripts-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
    <script src="{% static 'assets/js/jquery.paroller.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
            $('.modal').modal();

            $('.carousel.carousel-slider').carousel({
                dist: 0,
                fullWidth: true,
                indicators: true,
            });

            $("[data-paroller-factor]").paroller();

        })


    </script>
</body>