.leaflet-marker-icon {
  background: transparent;
  border: none;
}

.marker-icon-wrapper {
  position: absolute;
  bottom: 6px;
  left: 6px;
  transform: translateX(-50%);
}

.marker-text {
	font-size: 9px;
	position: absolute;
	right: 7px;
	top: 0;
	color: white;
}

.marker-size {
	width: 35px !important;
	height: 35px !important;
}

.cluster-marker-size {
	width: 42px !important;
	height: 42px !important;
}

.marker-image {
	position: absolute;
  width: 36% !important;

  /* center icon in marker */
  top: 18%;

  /* center icon based on percentage width */
  /* (100 - %width) / 2 * 100 / %width */
  transform: translateX(88.888%);
}
